<%- include("./partials/header") %>

  <main id="main" style="margin-top: 120px;">
    <div class="col-md-10 offset-md-1">
        <ul class="Schedule nav nav-pills-a nav-pills mb-3 section-t3" id="pills-tab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="pills-curriculum-tab" data-bs-toggle="pill" href="#pills-curriculum" role="tab" aria-controls="pills-curriculum" aria-selected="true">CURRICULUM</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="pills-schedule-tab" data-bs-toggle="pill" href="#pills-schedule" role="tab" aria-controls="pills-schedule" aria-selected="false">CLASS SCHEDULE</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="pills-homeowork-tab" data-bs-toggle="pill" href="#pills-homeowork" role="tab" aria-controls="pills-homeowork" aria-selected="false">HOME WORK</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="pills-newsletter-tab" data-bs-toggle="pill" href="#pills-newsletter" role="tab" aria-controls="pills-newsletter" aria-selected="false">NEWS LETTER</a>
          </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade show active" id="pills-curriculum" role="tabpanel" aria-labelledby="pills-curriculum-tab">
               
                    <!-- KINDER GARDEN  -->
                    <div class="row">
                        <div class="col-md-12 section-t8 position-relative">
                          <div class="row">
                            <div class="col-md-6 col-lg-5">
                              <img src="assets/img/Acadamics/1.jpg" alt="" class="img-fluid">
                            </div>
                            <div class="col-lg-1  d-none d-lg-block position-relative">
                             
                            </div>
                            <div class="col-md-6 col-lg-5 section-md-t3">
                              <div class="title-box-d">
                                <h3 class="title-d">KINDER GARDEN
                                  <span class="color-d">Cirriculum</span>
                                  <br> 
                                </h3>
                              </div>
                              <p class="color-text-a">
                                Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Vivamus magna justo, lacinia eget
                                consectetur sed, convallis
                                at tellus. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Vestibulum
                                ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit
                                neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula.
                              </p>
                              <ol>
                                  <li>provide ample scope for physical, intellectual and social development of
                                    students;</li>
                                <li>provide ample scope for physical, intellectual and social development of
                                    students;</li>
                                <li>provide ample scope for physical, intellectual and social development of
                                    students;</li>
                              </ol>  
                            </div>
                            <p class="color-text-a">
                                Sed porttitor lectus nibh. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus.
                                Mauris blandit aliquet
                                elit, eget tincidunt nibh pulvinar a. Vivamus magna justo, lacinia eget consectetur sed,
                                convallis at tellus.Sed porttitor lectus nibh. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus.
                                Mauris blandit aliquet
                                elit, eget tincidunt nibh pulvinar a. Vivamus magna justo, lacinia eget consectetur sed,
                                convallis at tellus.
                              </p>
                          </div>
                        </div>
                    </div>
                    <!-- KINDER ENDED  -->
                     <!--PRIMARY   -->
                     <div class="row">
                        <div class="col-md-12 section-t8 position-relative">
                          <div class="row">
                            
                            <div class="col-md-6 col-lg-5 section-md-t3">
                              <div class="title-box-d">
                                <h3 class="title-d">PRIMARY(GRADE 1 TO 5)
                                  <span class="color-d">Cirriculum</span>
                                  <br> 
                                </h3>
                              </div>
                              <p class="color-text-a">
                                Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Vivamus magna justo, lacinia eget
                                consectetur sed, convallis
                                at tellus. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Vestibulum
                                ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit
                                neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula.
                              </p>
                              <ol>
                                  <li>provide ample scope for physical, intellectual and social development of
                                    students;</li>
                                <li>provide ample scope for physical, intellectual and social development of
                                    students;</li>
                                <li>provide ample scope for physical, intellectual and social development of
                                    students;</li>
                              </ol>  
                            </div>
                            <div class="col-lg-1  d-none d-lg-block position-relative">
                               
                            </div>
                            <div class="col-md-6 col-lg-5">
                                <img src="assets/img/Acadamics/2.jpg" alt="" class="img-fluid">
                              </div>
                             
                            <p class="color-text-a">
                                Sed porttitor lectus nibh. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus.
                                Mauris blandit aliquet
                                elit, eget tincidunt nibh pulvinar a. Vivamus magna justo, lacinia eget consectetur sed,
                                convallis at tellus.Sed porttitor lectus nibh. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus.
                                Mauris blandit aliquet
                                elit, eget tincidunt nibh pulvinar a. Vivamus magna justo, lacinia eget consectetur sed,
                                convallis at tellus.
                              </p>
                          </div>
                        </div>
                    </div>
                    <!-- PRIMARY ENDED  -->
                     <!-- SECONDARY   -->
                     <div class="row">
                        <div class="col-md-12 section-t8 position-relative">
                          <div class="row">
                            <div class="col-md-6 col-lg-5">
                              <img src="assets/img/Acadamics/3.webp" alt="" class="img-fluid">
                            </div>
                            <div class="col-lg-1  d-none d-lg-block position-relative">
                             
                            </div>
                            <div class="col-md-6 col-lg-5 section-md-t3">
                              <div class="title-box-d">
                                <h3 class="title-d">SECONDARY(Grade 6 to 10)
                                  <span class="color-d">Cirriculum</span>
                                  <br> 
                                </h3>
                              </div>
                              <p class="color-text-a">
                                Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Vivamus magna justo, lacinia eget
                                consectetur sed, convallis
                                at tellus. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Vestibulum
                                ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit
                                neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula.
                              </p>
                              <ol>
                                  <li>provide ample scope for physical, intellectual and social development of
                                    students;</li>
                                <li>provide ample scope for physical, intellectual and social development of
                                    students;</li>
                                <li>provide ample scope for physical, intellectual and social development of
                                    students;</li>
                              </ol>  
                            </div>
                            <p class="color-text-a">
                                Sed porttitor lectus nibh. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus.
                                Mauris blandit aliquet
                                elit, eget tincidunt nibh pulvinar a. Vivamus magna justo, lacinia eget consectetur sed,
                                convallis at tellus.Sed porttitor lectus nibh. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus.
                                Mauris blandit aliquet
                                elit, eget tincidunt nibh pulvinar a. Vivamus magna justo, lacinia eget consectetur sed,
                                convallis at tellus.
                              </p>
                          </div>
                        </div>
                    </div>
                    <!-- SECONDARY ENDED  -->
          </div>
          <div class="tab-pane fade" id="pills-schedule" role="tabpanel" aria-labelledby="pills-schedule-tab">
            <div class="row Schedule">
              <div class="title-box-d" style="margin:25px;">
                <h3 class="title-d">
                  <span class="color-d">Grade </span> wise Cirriculum
                  <br> 
                </h3>
              </div>
                <div class="col-1">
                  <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active" id="v-pills-grade1-tab" data-toggle="pill" href="#v-pills-grade1" role="tab" aria-controls="v-pills-grade1" aria-selected="true">1 st</a>
                    <a class="nav-link" id="v-pills-2-tab" data-toggle="pill" href="#v-pills-2" role="tab" aria-controls="v-pills-2" aria-selected="false">2 nd</a>
                    <a class="nav-link" id="v-pills-3-tab" data-toggle="pill" href="#v-pills-3" role="tab" aria-controls="v-pills-3" aria-selected="false">3 rd</a>
                    <a class="nav-link" id="v-pills-4-tab" data-toggle="pill" href="#v-pills-4" role="tab" aria-controls="v-pills-4" aria-selected="false">4 th</a>

                  </div>
                </div>
                <div class="col-1"></div>
                <div class="col-9" style="overflow-x: scroll; width:800px;">
                  <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-grade1" role="tabpanel" aria-labelledby="v-pills-grade1-tab">
                      <div class="title-box-d">
                        <h3 class="title-d">
                          <span class="color-d">Grade 1</span> Time table
                          <br> 
                        </h3>
                      </div>
                        <table class="table table-bordered" border="5" cellspacing="0" align="center">
                            <!--<caption>Timetable</caption>-->
                            <tr>
                                <td align="center" height="50" 
                                    width="100"><br>
                                    <b>Day/Period</b></br>
                                </td>
                                <td align="center" height="50" 
                                    width="100">
                                    <b>I<br>9:30-10:20</b>
                                </td>
                                <td align="center" height="50" 
                                    width="100">
                                    <b>II<br>10:20-11:10</b>
                                </td>
                                <td align="center" height="50" 
                                    width="100">
                                    <b>III<br>11:10-12:00</b>
                                </td>
                                <td align="center" height="50" 
                                    width="100">
                                    <b>12:00-12:40</b>
                                </td>
                                <td align="center" height="50" 
                                    width="100">
                                    <b>IV<br>12:40-1:30</b>
                                </td>
                                <td align="center" height="50" 
                                    width="100">
                                    <b>V<br>1:30-2:20</b>
                                </td>
                                <td align="center" height="50" 
                                    width="100">
                                    <b>VI<br>2:20-3:10</b>
                                </td>
                                <td align="center" height="50" 
                                    width="100">
                                    <b>VII<br>3:10-4:00</b>
                                </td>
                            </tr>
                            <tr>
                                <td align="center" height="50">
                                    <b>Monday</b></td>
                                <td align="center" height="50">Eng</td>
                                <td align="center" height="50">Mat</td>
                                <td align="center" height="50">Che</td>
                                <td rowspan="6" align="center" height="50">
                                    <h2>L<br>U<br>N<br>C<br>H</h2>
                                </td>
                                <td colspan="3" align="center" 
                                    height="50">LAB</td>
                                <td align="center" height="50">Phy</td>
                            </tr>
                            <tr>
                                <td align="center" height="50">
                                    <b>Tuesday</b>
                                </td>
                                <td colspan="3" align="center" 
                                    height="50">LAB
                                </td>
                                <td align="center" height="50">Eng</td>
                                <td align="center" height="50">Che</td>
                                <td align="center" height="50">Mat</td>
                                <td align="center" height="50">SPORTS</td>
                            </tr>
                            <tr>
                                <td align="center" height="50">
                                    <b>Wednesday</b>
                                </td>
                                <td align="center" height="50">Mat</td>
                                <td align="center" height="50">phy</td>
                                <td align="center" height="50">Eng</td>
                                <td align="center" height="50">Che</td>
                                <td colspan="3" align="center" 
                                    height="50">LIBRARY
                                </td>
                            </tr>
                            <tr>
                                <td align="center" height="50">
                                    <b>Thursday</b>
                                </td>
                                <td align="center" height="50">Phy</td>
                                <td align="center" height="50">Eng</td>
                                <td align="center" height="50">Che</td>
                                <td colspan="3" align="center" 
                                    height="50">LAB
                                </td>
                                <td align="center" height="50">Mat</td>
                            </tr>
                            <tr>
                                <td align="center" height="50">
                                    <b>Friday</b>
                                </td>
                                <td colspan="3" align="center" 
                                    height="50">LAB
                                </td>
                                <td align="center" height="50">Mat</td>
                                <td align="center" height="50">Che</td>
                                <td align="center" height="50">Eng</td>
                                <td align="center" height="50">Phy</td>
                            </tr>
                            <tr>
                                <td align="center" height="50">
                                    <b>Saturday</b>
                                </td>
                                <td align="center" height="50">Eng</td>
                                <td align="center" height="50">Che</td>
                                <td align="center" height="50">Mat</td>
                                <td colspan="3" align="center" 
                                    height="50">SEMINAR
                                </td>
                                <td align="center" height="50">SPORTS</td>
                            </tr>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="v-pills-2" role="tabpanel" aria-labelledby="v-pills-2-tab">
                      <div class="title-box-d" >
                        <h3 class="title-d">
                          <span class="color-d">Grade 2</span> Time table
                          <br> 
                        </h3>
                      </div>
                        <table class="table table-bordered" border="5" cellspacing="0" align="center">
                            <!--<caption>Timetable</caption>-->
                            <tr>
                                <td align="center" height="50" 
                                    width="100"><br>
                                    <b>Day/Period</b></br>
                                </td>
                                <td align="center" height="50" 
                                    width="100">
                                    <b>I<br>9:30-10:20</b>
                                </td>
                                <td align="center" height="50" 
                                    width="100">
                                    <b>II<br>10:20-11:10</b>
                                </td>
                                <td align="center" height="50" 
                                    width="100">
                                    <b>III<br>11:10-12:00</b>
                                </td>
                                <td align="center" height="50" 
                                    width="100">
                                    <b>12:00-12:40</b>
                                </td>
                                <td align="center" height="50" 
                                    width="100">
                                    <b>IV<br>12:40-1:30</b>
                                </td>
                                <td align="center" height="50" 
                                    width="100">
                                    <b>V<br>1:30-2:20</b>
                                </td>
                                <td align="center" height="50" 
                                    width="100">
                                    <b>VI<br>2:20-3:10</b>
                                </td>
                                <td align="center" height="50" 
                                    width="100">
                                    <b>VII<br>3:10-4:00</b>
                                </td>
                            </tr>
                            <tr>
                                <td align="center" height="50">
                                    <b>Monday</b></td>
                                <td align="center" height="50">Eng</td>
                                <td align="center" height="50">Mat</td>
                                <td align="center" height="50">Che</td>
                                <td rowspan="6" align="center" height="50">
                                    <h2>L<br>U<br>N<br>C<br>H</h2>
                                </td>
                                <td colspan="3" align="center" 
                                    height="50">LAB</td>
                                <td align="center" height="50">Phy</td>
                            </tr>
                            <tr>
                                <td align="center" height="50">
                                    <b>Tuesday</b>
                                </td>
                                <td colspan="3" align="center" 
                                    height="50">LAB
                                </td>
                                <td align="center" height="50">Eng</td>
                                <td align="center" height="50">Che</td>
                                <td align="center" height="50">Mat</td>
                                <td align="center" height="50">SPORTS</td>
                            </tr>
                            <tr>
                                <td align="center" height="50">
                                    <b>Wednesday</b>
                                </td>
                                <td align="center" height="50">Mat</td>
                                <td align="center" height="50">phy</td>
                                <td align="center" height="50">Eng</td>
                                <td align="center" height="50">Che</td>
                                <td colspan="3" align="center" 
                                    height="50">LIBRARY
                                </td>
                            </tr>
                            <tr>
                                <td align="center" height="50">
                                    <b>Thursday</b>
                                </td>
                                <td align="center" height="50">Phy</td>
                                <td align="center" height="50">Eng</td>
                                <td align="center" height="50">Che</td>
                                <td colspan="3" align="center" 
                                    height="50">LAB
                                </td>
                                <td align="center" height="50">Mat</td>
                            </tr>
                            <tr>
                                <td align="center" height="50">
                                    <b>Friday</b>
                                </td>
                                <td colspan="3" align="center" 
                                    height="50">LAB
                                </td>
                                <td align="center" height="50">Mat</td>
                                <td align="center" height="50">Che</td>
                                <td align="center" height="50">Eng</td>
                                <td align="center" height="50">Phy</td>
                            </tr>
                            <tr>
                                <td align="center" height="50">
                                    <b>Saturday</b>
                                </td>
                                <td align="center" height="50">Eng</td>
                                <td align="center" height="50">Che</td>
                                <td align="center" height="50">Mat</td>
                                <td colspan="3" align="center" 
                                    height="50">SEMINAR
                                </td>
                                <td align="center" height="50">SPORTS</td>
                            </tr>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="v-pills-3" role="tabpanel" aria-labelledby="v-pills-3-tab">
                      <div class="title-box-d">
                        <h3 class="title-d">
                          <span class="color-d">Grade 3</span> Time table
                          <br> 
                        </h3>
                      </div>
                        <table class="table table-bordered" border="5" cellspacing="0" align="center">
                            <!--<caption>Timetable</caption>-->
                            <tr>
                                <td align="center" height="50" 
                                    width="100"><br>
                                    <b>Day/Period</b></br>
                                </td>
                                <td align="center" height="50" 
                                    width="100">
                                    <b>I<br>9:30-10:20</b>
                                </td>
                                <td align="center" height="50" 
                                    width="100">
                                    <b>II<br>10:20-11:10</b>
                                </td>
                                <td align="center" height="50" 
                                    width="100">
                                    <b>III<br>11:10-12:00</b>
                                </td>
                                <td align="center" height="50" 
                                    width="100">
                                    <b>12:00-12:40</b>
                                </td>
                                <td align="center" height="50" 
                                    width="100">
                                    <b>IV<br>12:40-1:30</b>
                                </td>
                                <td align="center" height="50" 
                                    width="100">
                                    <b>V<br>1:30-2:20</b>
                                </td>
                                <td align="center" height="50" 
                                    width="100">
                                    <b>VI<br>2:20-3:10</b>
                                </td>
                                <td align="center" height="50" 
                                    width="100">
                                    <b>VII<br>3:10-4:00</b>
                                </td>
                            </tr>
                            <tr>
                                <td align="center" height="50">
                                    <b>Monday</b></td>
                                <td align="center" height="50">Eng</td>
                                <td align="center" height="50">Mat</td>
                                <td align="center" height="50">Che</td>
                                <td rowspan="6" align="center" height="50">
                                    <h2>L<br>U<br>N<br>C<br>H</h2>
                                </td>
                                <td colspan="3" align="center" 
                                    height="50">LAB</td>
                                <td align="center" height="50">Phy</td>
                            </tr>
                            <tr>
                                <td align="center" height="50">
                                    <b>Tuesday</b>
                                </td>
                                <td colspan="3" align="center" 
                                    height="50">LAB
                                </td>
                                <td align="center" height="50">Eng</td>
                                <td align="center" height="50">Che</td>
                                <td align="center" height="50">Mat</td>
                                <td align="center" height="50">SPORTS</td>
                            </tr>
                            <tr>
                                <td align="center" height="50">
                                    <b>Wednesday</b>
                                </td>
                                <td align="center" height="50">Mat</td>
                                <td align="center" height="50">phy</td>
                                <td align="center" height="50">Eng</td>
                                <td align="center" height="50">Che</td>
                                <td colspan="3" align="center" 
                                    height="50">LIBRARY
                                </td>
                            </tr>
                            <tr>
                                <td align="center" height="50">
                                    <b>Thursday</b>
                                </td>
                                <td align="center" height="50">Phy</td>
                                <td align="center" height="50">Eng</td>
                                <td align="center" height="50">Che</td>
                                <td colspan="3" align="center" 
                                    height="50">LAB
                                </td>
                                <td align="center" height="50">Mat</td>
                            </tr>
                            <tr>
                                <td align="center" height="50">
                                    <b>Friday</b>
                                </td>
                                <td colspan="3" align="center" 
                                    height="50">LAB
                                </td>
                                <td align="center" height="50">Mat</td>
                                <td align="center" height="50">Che</td>
                                <td align="center" height="50">Eng</td>
                                <td align="center" height="50">Phy</td>
                            </tr>
                            <tr>
                                <td align="center" height="50">
                                    <b>Saturday</b>
                                </td>
                                <td align="center" height="50">Eng</td>
                                <td align="center" height="50">Che</td>
                                <td align="center" height="50">Mat</td>
                                <td colspan="3" align="center" 
                                    height="50">SEMINAR
                                </td>
                                <td align="center" height="50">SPORTS</td>
                            </tr>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="v-pills-4" role="tabpanel" aria-labelledby="v-pills-4-tab">
                      <div class="title-box-d" >
                        <h3 class="title-d">
                          <span class="color-d">Grade 4</span> Time table
                          <br> 
                        </h3>
                      </div>
                        <table class="table table-bordered" border="5" cellspacing="0" align="center">
                            <!--<caption>Timetable</caption>-->
                            <tr>
                                <td align="center" height="50" 
                                    width="100"><br>
                                    <b>Day/Period</b></br>
                                </td>
                                <td align="center" height="50" 
                                    width="100">
                                    <b>I<br>9:30-10:20</b>
                                </td>
                                <td align="center" height="50" 
                                    width="100">
                                    <b>II<br>10:20-11:10</b>
                                </td>
                                <td align="center" height="50" 
                                    width="100">
                                    <b>III<br>11:10-12:00</b>
                                </td>
                                <td align="center" height="50" 
                                    width="100">
                                    <b>12:00-12:40</b>
                                </td>
                                <td align="center" height="50" 
                                    width="100">
                                    <b>IV<br>12:40-1:30</b>
                                </td>
                                <td align="center" height="50" 
                                    width="100">
                                    <b>V<br>1:30-2:20</b>
                                </td>
                                <td align="center" height="50" 
                                    width="100">
                                    <b>VI<br>2:20-3:10</b>
                                </td>
                                <td align="center" height="50" 
                                    width="100">
                                    <b>VII<br>3:10-4:00</b>
                                </td>
                            </tr>
                            <tr>
                                <td align="center" height="50">
                                    <b>Monday</b></td>
                                <td align="center" height="50">Eng</td>
                                <td align="center" height="50">Mat</td>
                                <td align="center" height="50">Che</td>
                                <td rowspan="6" align="center" height="50">
                                    <h2>L<br>U<br>N<br>C<br>H</h2>
                                </td>
                                <td colspan="3" align="center" 
                                    height="50">LAB</td>
                                <td align="center" height="50">Phy</td>
                            </tr>
                            <tr>
                                <td align="center" height="50">
                                    <b>Tuesday</b>
                                </td>
                                <td colspan="3" align="center" 
                                    height="50">LAB
                                </td>
                                <td align="center" height="50">Eng</td>
                                <td align="center" height="50">Che</td>
                                <td align="center" height="50">Mat</td>
                                <td align="center" height="50">SPORTS</td>
                            </tr>
                            <tr>
                                <td align="center" height="50">
                                    <b>Wednesday</b>
                                </td>
                                <td align="center" height="50">Mat</td>
                                <td align="center" height="50">phy</td>
                                <td align="center" height="50">Eng</td>
                                <td align="center" height="50">Che</td>
                                <td colspan="3" align="center" 
                                    height="50">LIBRARY
                                </td>
                            </tr>
                            <tr>
                                <td align="center" height="50">
                                    <b>Thursday</b>
                                </td>
                                <td align="center" height="50">Phy</td>
                                <td align="center" height="50">Eng</td>
                                <td align="center" height="50">Che</td>
                                <td colspan="3" align="center" 
                                    height="50">LAB
                                </td>
                                <td align="center" height="50">Mat</td>
                            </tr>
                            <tr>
                                <td align="center" height="50">
                                    <b>Friday</b>
                                </td>
                                <td colspan="3" align="center" 
                                    height="50">LAB
                                </td>
                                <td align="center" height="50">Mat</td>
                                <td align="center" height="50">Che</td>
                                <td align="center" height="50">Eng</td>
                                <td align="center" height="50">Phy</td>
                            </tr>
                            <tr>
                                <td align="center" height="50">
                                    <b>Saturday</b>
                                </td>
                                <td align="center" height="50">Eng</td>
                                <td align="center" height="50">Che</td>
                                <td align="center" height="50">Mat</td>
                                <td colspan="3" align="center" 
                                    height="50">SEMINAR
                                </td>
                                <td align="center" height="50">SPORTS</td>
                            </tr>
                        </table>
                    </div>
                  </div>
                </div>
              </div>
          </div>
          <div class="tab-pane fade" id="pills-homeowork" role="tabpanel" aria-labelledby="pills-homeowork-tab">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col">Class</th>
                  <th scope="col"  colspan="3">HOME WORK</th>
                  
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td colspan="3">
                    <p><b>Subject1:</b>Complete all your exercise problems and read your notes</p> <br/>
                    <p><b>Subject2:</b>Complete all your exercise problems and read your notes</p> <br/>
                    <p><b>Subject3:</b>Complete all your exercise problems and read your notes</p> <br/>
                  </td>
                  
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td colspan="3">
                    <p><b>Subject1:</b>Complete all your exercise problems and read your notes</p> <br/>
                    <p><b>Subject2:</b>Complete all your exercise problems and read your notes</p> <br/>
                    <p><b>Subject3:</b>Complete all your exercise problems and read your notes</p> <br/>
                  </td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td colspan="3">
                    <p><b>Subject1:</b>Complete all your exercise problems and read your notes</p> <br/>
                    <p><b>Subject2:</b>Complete all your exercise problems and read your notes</p> <br/>
                    <p><b>Subject3:</b>Complete all your exercise problems and read your notes</p> <br/>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="tab-pane fade" id="pills-newsletter" role="tabpanel" aria-labelledby="pills-newsletter-tab">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col">Class</th>
                  <th scope="col" colspan="1">Week</th>
                  <th scope="col"  colspan="2">NEWS LETTER</th>
                  
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <th scope="row" colspan="1">12-18 sep</th>
                  <td colspan="2">
                    <p><b>What did we learn this week:</b>Complete all your exercise problems and read your notes</p> <br/>
                    <p><b>Reading suggestions:</b>Complete all your exercise problems and read your notes</p> <br/>
                    <p><b>Next week plan:</b>Complete all your exercise problems and read your notes</p> <br/>
                  </td>
                  
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <th scope="row" colspan="1">12-18 sep</th>
                  <td colspan="2">
                    <p><b>What did we learn this week:</b>Complete all your exercise problems and read your notes</p> <br/>
                    <p><b>Reading suggestions:</b>Complete all your exercise problems and read your notes</p> <br/>
                    <p><b>Next week plan:</b>Complete all your exercise problems and read your notes</p> <br/>
                  </td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <th scope="row" colspan="1">12-18 sep</th>
                  <td colspan="2">
                    <p><b>What did we learn this week:</b>Complete all your exercise problems and read your notes</p> <br/>
                    <p><b>Reading suggestions:</b>Complete all your exercise problems and read your notes</p> <br/>
                    <p><b>Next week plan:</b>Complete all your exercise problems and read your notes</p> <br/>
                  </td>
                </tr>
                <tr>
                  <th scope="row">4</th>
                  <th scope="row" colspan="1">12-18 sep</th>
                  <td colspan="2">
                    <p><b>What did we learn this week:</b>Complete all your exercise problems and read your notes</p> <br/>
                    <p><b>Reading suggestions:</b>Complete all your exercise problems and read your notes</p> <br/>
                    <p><b>Next week plan:</b>Complete all your exercise problems and read your notes</p> <br/>
                  </td>
                </tr>
                <tr>
                  <th scope="row">5</th>
                  <th scope="row" colspan="1">12-18 sep</th>
                  <td colspan="2">
                    <p><b>What did we learn this week:</b>Complete all your exercise problems and read your notes</p> <br/>
                    <p><b>Reading suggestions:</b>Complete all your exercise problems and read your notes</p> <br/>
                    <p><b>Next week plan:</b>Complete all your exercise problems and read your notes</p> <br/>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
  </main><!-- End #main -->

<%- include("./partials/footer") %>
