<%- include("./partials/header") %>

  <main id="main">
    <!-- ==============ABOUT US================ -->
     <!-- ======= Intro Single ======= -->
     <section class="section-about">
        <div class="container card" style="margin-top: 150px;">
            <div >
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img src="assets/img/life/1.jpg" style="height: 60vh;" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="assets/img/life/2.png"style="height: 60vh;" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="assets/img/life/3.jpg" style="height: 60vh;"class="d-block w-100" alt="...">
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
            </div>
            <br/>
            <div class="title-box-d">
                <h3 class="title-d">TRIPS
                  
                  <br> 
                </h3>
              </div>
              <div>
                  <p>
                    Whether you are planning an End of the School Year Celebration,  Senior Class Trip, Reward Trip for your students or just a fun Field Trip to get out of the classroom for a day, we have several different group options to fit your budget.  Elementary, Middle Schools and High Schools visit us from all around New York, New Jersey, the Tri-State Area and the Hudson Valley, our attractions are perfect for all ages!

                    Activities at The Castle Fun Center aren’t just fun but many also naturally promote physical fitness, team building and logic as well!  Add-on our lunch package or arcade card and you’ve got the perfect school trip!
                  </p>
              </div>
        </div>
      </section>
    <!-- ======= Latest News Section ======= -->
    <section class="section-about">
        <div class="container card" style="margin-top: 150px;">
            <div >
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                    
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img src="assets/img/life/sports/3.jpg" style="height: 60vh;" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="assets/img/life/sports/2.jpg"style="height: 60vh;" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="assets/img/life/sports/1.jpg" style="height: 60vh;"class="d-block w-100" alt="...">
                      </div>
                    </div>
                  
                  </div>
            </div>
            <br/>
            <div class="title-box-d">
                <h3 class="title-d">SPORTS
                  
                  <br> 
                </h3>
              </div>
              <div>
                  <p>
                    The value of sport in building character and leadership behaviours has been widely recognised throughout history – whether that’s the grit and determination to get back up following a defeat, or galvanising team mates to give one last push in a tight encounter.

The lessons learned on the field of play translate to wider life; a survey commissioned by British Universities' and Colleges' Sport found that more than nine in 10 (94 per cent) of employers identified a clear link between university sport participation and valuable skills and strengths in potential employees, for example.

The recent coverage of school sports days, questioning their value, purpose and even existence, painted a false image of the health of school sport.
                  </p>
              </div>
        </div>
      </section>
      <section class="section-about">
        <div class="container card" style="margin-top: 150px;">
            <div class="title-box-d">
                <h3 style="margin: 30px;" class="title-d">LUNCH MENU
                  <br> 
                </h3>
            </div>
              <div>
                <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th scope="col">Day</th>
                        
                        <th scope="col">Lunch</th>
                       
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Monday</td>
                        <td>Rice,Potato fry,curd, 2 roti</td>
                      </tr>
                      <tr>
                        <td>Tuesday</td>
                        <td>Rice,Potato fry,curd, 2 roti</td>
                      </tr>
                      <tr>
                        <td>Wednesday</td>
                        <td>Rice,Potato fry,curd, 2 roti</td>
                      </tr>
                      <tr>
                        <td>Thursday</td>
                        <td>Rice,Potato fry,curd, 2 roti</td>
                      </tr>
                      <tr>
                        <td>Friday</td>
                        <td>Rice,Potato fry,curd, 2 roti</td>
                      </tr>
                      <tr>
                        <td>Saturday</td>
                        <td>Rice,Potato fry,curd, 2 roti</td>
                      </tr>
                    </tbody>
                  </table>
              </div>
        </div>
     
    </section>
<!-- ============PORTFOLIO============= -->
    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">

        <div class="container" data-aos="fade-up">
  
            <div class="title-box-d">
                <h3 style="margin: 30px;" class="title-d"> GALLARY
                  <br> 
                </h3>
            </div>
  
          <div class="row" data-aos="fade-up" data-aos-delay="100">
            <div class="col-lg-12 d-flex justify-content-center">
              <ul id="portfolio-flters">
                <li data-filter="*" class="filter-active">All</li>
                <li data-filter=".filter-app">Trips</li>
                <li data-filter=".filter-card">Sports</li>
                <li data-filter=".filter-web">Events</li>
              </ul>
            </div>
          </div>
  
          <div class="row gy-4 portfolio-container" data-aos="fade-up" data-aos-delay="200">
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
              <div class="portfolio-wrap">
                <img src="assets/img/portfolio/portfolio-1.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>Trip-1</h4>
                  <p>Trip</p>
                  <div class="portfolio-links">
                    <a href="assets/img/portfolio/portfolio-1.jpg" data-gallery="portfolioGallery" class="portfokio-lightbox" title="App 1"><i class="bi bi-plus"></i></a>
                    <a href="portfolio-details.html" title="More Details"><i class="bi bi-link"></i></a>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
              <div class="portfolio-wrap">
                <img src="assets/img/portfolio/portfolio-2.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>Sports 3</h4>
                  <p>Sport</p>
                  <div class="portfolio-links">
                    <a href="assets/img/portfolio/portfolio-2.jpg" data-gallery="portfolioGallery" class="portfokio-lightbox" title="Web 3"><i class="bi bi-plus"></i></a>
                    <a href="portfolio-details.html" title="More Details"><i class="bi bi-link"></i></a>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
              <div class="portfolio-wrap">
                <img src="assets/img/portfolio/portfolio-3.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>Trip 2</h4>
                  <p>Trip</p>
                  <div class="portfolio-links">
                    <a href="assets/img/portfolio/portfolio-3.jpg" data-gallery="portfolioGallery" class="portfokio-lightbox" title="App 2"><i class="bi bi-plus"></i></a>
                    <a href="portfolio-details.html" title="More Details"><i class="bi bi-link"></i></a>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
              <div class="portfolio-wrap">
                <img src="assets/img/portfolio/portfolio-4.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>Event 2</h4>
                  <p>Event</p>
                  <div class="portfolio-links">
                    <a href="assets/img/portfolio/portfolio-4.jpg" data-gallery="portfolioGallery" class="portfokio-lightbox" title="Card 2"><i class="bi bi-plus"></i></a>
                    <a href="portfolio-details.html" title="More Details"><i class="bi bi-link"></i></a>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
              <div class="portfolio-wrap">
                <img src="assets/img/portfolio/portfolio-5.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>Sport 2</h4>
                  <p>Sport</p>
                  <div class="portfolio-links">
                    <a href="assets/img/portfolio/portfolio-5.jpg" data-gallery="portfolioGallery" class="portfokio-lightbox" title="Web 2"><i class="bi bi-plus"></i></a>
                    <a href="portfolio-details.html" title="More Details"><i class="bi bi-link"></i></a>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
              <div class="portfolio-wrap">
                <img src="assets/img/portfolio/portfolio-6.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>Trip 3</h4>
                  <p>Trip</p>
                  <div class="portfolio-links">
                    <a href="assets/img/portfolio/portfolio-6.jpg" data-gallery="portfolioGallery" class="portfokio-lightbox" title="App 3"><i class="bi bi-plus"></i></a>
                    <a href="portfolio-details.html" title="More Details"><i class="bi bi-link"></i></a>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
              <div class="portfolio-wrap">
                <img src="assets/img/portfolio/portfolio-7.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>Event 1</h4>
                  <p>Event</p>
                  <div class="portfolio-links">
                    <a href="assets/img/portfolio/portfolio-7.jpg" data-gallery="portfolioGallery" class="portfokio-lightbox" title="Card 1"><i class="bi bi-plus"></i></a>
                    <a href="portfolio-details.html" title="More Details"><i class="bi bi-link"></i></a>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
              <div class="portfolio-wrap">
                <img src="assets/img/portfolio/portfolio-8.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>Event 3</h4>
                  <p>Event</p>
                  <div class="portfolio-links">
                    <a href="assets/img/portfolio/portfolio-8.jpg" data-gallery="portfolioGallery" class="portfokio-lightbox" title="Card 3"><i class="bi bi-plus"></i></a>
                    <a href="portfolio-details.html" title="More Details"><i class="bi bi-link"></i></a>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
              <div class="portfolio-wrap">
                <img src="assets/img/portfolio/portfolio-9.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>Sport 3</h4>
                  <p>Sport</p>
                  <div class="portfolio-links">
                    <a href="assets/img/portfolio/portfolio-9.jpg" data-gallery="portfolioGallery" class="portfokio-lightbox" title="Web 3"><i class="bi bi-plus"></i></a>
                    <a href="portfolio-details.html" title="More Details"><i class="bi bi-link"></i></a>
                  </div>
                </div>
              </div>
            </div>
  
          </div>
  
        </div>
  
      </section><!-- End Portfolio Section -->
<!-- =================PORTFOLIO ENDS=================== -->
  </main><!-- End #main -->
  <%- include("./partials/footer") %>
