<%- include("./partials/header") %>
  <main id="main" style="margin-top: 120px;">
    <div class="col-md-10 offset-md-1">
        <ul class="Schedule nav nav-pills-a nav-pills mb-3 section-t3" id="pills-tab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="pills-admsnFee-tab" data-bs-toggle="pill" href="#pills-admsnFee" role="tab" aria-controls="pills-admsnFee" aria-selected="true">Admission Fee</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="pills-scholarships-tab" data-bs-toggle="pill" href="#pills-scholarships" role="tab" aria-controls="pills-scholarships" aria-selected="false">Scholarship fee</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="pills-schoolfee-tab" data-bs-toggle="pill" href="#pills-schoolfee" role="tab" aria-controls="pills-schoolfee" aria-selected="false">School fee</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="pills-extraCirriculum-tab" data-bs-toggle="pill" href="#pills-extraCirriculum" role="tab" aria-controls="pills-extraCirriculum" aria-selected="false">Extra Curriculum fee</a>
          </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade show active" id="pills-admsnFee" role="tabpanel" aria-labelledby="pills-admsnFee-tab">
                <div class="row">
                    <div class="col">
                        <img src="assets/img/admissions.jpg" alt="">
                    </div>
                    <div class="col">
                        <div class="title-box-d">
                            <h3 class="title-d">
                             Admission fee: 2500/-
                              <br> 
                            </h3>
                          </div> 
                          <p class="color-text-a">
                            It's been a long journey! A journey spanning 19 long years in earnestly making a qualitative difference to the lives of tens of thousands of children and their aspirational parents. Slate - The School is a result of Vasireddy Amarnath’s intense soul searching and stirring of the conscience at the crass commercialization and defunct education system, devoid of values and relevance for the present/future. Slate - The School was started in the year 2001, by Vasireddy Educational Society, with a vision to impart quality and value based education to children; to improve the ethical standards in the field of education; to adopt a futuristic approach to promote traditional values amongst the younger generation Relentlessly driving his spirited lieutenants and leading from the front is Amarnath himself, who breathes, thinks, dreams, slogs nothing but Slate and its student.
                          </p>
                                 
                    </div>
                </div>
          </div>
          <div class="tab-pane fade" id="pills-scholarships" role="tabpanel" aria-labelledby="pills-scholarships-tab">
            pane2
          </div>
          <div class="tab-pane fade" id="pills-schoolfee" role="tabpanel" aria-labelledby="pills-schoolfee-tab">
            <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col">CLass</th>
                    <th scope="col">TERM-1</th>
                    <th scope="col">TERM-2</th>
                    <th scope="col">TERM-3</th>
                    <th scope="col">YEARLY</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td scope="col">12500/-</td>
                    <td scope="col">7000/-</td>
                    <td scope="col">3500/-</td>
                    <td scope="col">23000/-</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td scope="col">12500/-</td>
                    <td scope="col">7000/-</td>
                    <td scope="col">3500/-</td>
                    <td scope="col">23000/-</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td scope="col">12500/-</td>
                    <td scope="col">7000/-</td>
                    <td scope="col">3500/-</td>
                    <td scope="col">23000/-</td>
                  </tr>
                  <tr>
                    <th scope="row">4</th>
                    <td scope="col">12500/-</td>
                    <td scope="col">7000/-</td>
                    <td scope="col">3500/-</td>
                    <td scope="col">23000/-</td>
                  </tr>
                  <tr>
                    <th scope="row">5</th>
                    <td scope="col">12500/-</td>
                    <td scope="col">7000/-</td>
                    <td scope="col">3500/-</td>
                    <td scope="col">23000/-</td>
                  </tr>
                  <tr>
                    <th scope="row">6</th>
                    <td scope="col">12500/-</td>
                    <td scope="col">7000/-</td>
                    <td scope="col">3500/-</td>
                    <td scope="col">23000/-</td>
                  </tr>
                  <tr>
                    <th scope="row">7</th>
                    <td scope="col">12500/-</td>
                    <td scope="col">7000/-</td>
                    <td scope="col">3500/-</td>
                    <td scope="col">23000/-</td>
                  </tr>
                  <tr>
                    <th scope="row">8</th>
                    <td scope="col">12500/-</td>
                    <td scope="col">7000/-</td>
                    <td scope="col">3500/-</td>
                    <td scope="col">23000/-</td>
                  </tr>
                  <tr>
                    <th scope="row">9</th>
                    <td scope="col">12500/-</td>
                    <td scope="col">7000/-</td>
                    <td scope="col">3500/-</td>
                    <td scope="col">23000/-</td>
                  </tr>
                  <tr>
                    <th scope="row">10</th>
                    <td scope="col">12500/-</td>
                    <td scope="col">7000/-</td>
                    <td scope="col">3500/-</td>
                    <td scope="col">23000/-</td>
                  </tr>
                </tbody>
              </table>
          </div>
          <div class="tab-pane fade" id="pills-extraCirriculum" role="tabpanel" aria-labelledby="pills-extraCirriculum-tab">
            <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col">Category</th>
                    <th scope="col">Fee Amount/month</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td scope="row">Indoor games</td>
                    <td>2000/-</td>
                   
                  </tr>
                  <tr>
                    <td scope="row">Outdoor games</td>
                    <td>4000/-</td>
                    
                  </tr>
                  <tr>
                    <td scope="row">Dance</td>
                    <td>5000/-</td>
                    
                  </tr>
                  <tr>
                    <td scope="row">Music</td>
                    <td>2000/-</td>
                    
                  </tr>
                  <tr>
                    <td scope="row">Art</td>
                    <td>1000/-</td>
                    
                  </tr>
                  
                </tbody>
              </table>
          </div>
        </div>
      </div>
  </main><!-- End #main -->
<%- include("./partials/footer") %>
